/ProjectManager/.vs/ProjectManager/v15/.suo
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/db.lock
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide-shm
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide-wal
/QLDA/packages
/QLDA/.vs
/QLDA/QLDA/bin
/QLDA/QLDA/obj
