/ProjectManager/.vs/ProjectManager/v15/.suo
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/db.lock
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide-shm
/ProjectManager/.vs/ProjectManager/v15/Server/sqlite3/storage.ide-wal
/QLDA/packages
/QLDA/.vs
/QLDA/QLDA/bin
/QLDA/QLDA/obj
/ProjectManager/ProjectManager/Resources/logo.png
/ProjectManager/ProjectManager/Resources/newDBDiagram2.PNG
/QLBH2019/.vs/QLBH2019/v15/.suo
/QLBH2019/.vs/QLBH2019/v15/Server/sqlite3/db.lock
/QLBH2019/.vs/QLBH2019/v15/Server/sqlite3/storage.ide
/QLBH2019/.vs/QLBH2019/v15/Server/sqlite3/storage.ide-shm
/QLBH2019/.vs/QLBH2019/v15/Server/sqlite3/storage.ide-wal
