<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH2019.Properties.Settings.ktqd2019ConnectionString"
            connectionString="Data Source=113.190.234.205,1433;Initial Catalog=ktqd2019;Persist Security Info=True;User ID=ktqd;Password=Ktqd-2019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      <requiredRuntime version="v4.0.20506"/>
    </startup>
</configuration>